.containerFooter {
  padding: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  margin-top: 0.4rem;
  background-color: #222;
  color: #fff;
  text-align: center;
}

@media (max-width: 767px) {
  .containerFooter {
    width: 470px;
  }
}
