.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  font-size: 2.3rem;
  width: 20%;
  margin-top: 2.5rem;
  padding: 20px 20px;
  text-transform: uppercase;
  box-shadow: 3px 1px 1px #333;
  background-color: #333;
  color: #fff;
}
.DescriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.DescriptionContainer p {
  font-size: 1.2rem;
}
.subtitle {
  text-align: center;
  font-size: 1.2rem;
}

.boxTypeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.typeContainer {
  display: flex;
  gap: 2rem;
}

.type {
  font-size: 1.2rem;
  margin-top: 8px;
  padding: 10px 10px;
  background-color: #333;
  color: #fff;
  border-radius: 10px;
  text-transform: capitalize;
}

.type_normal {
  background-color: #aa9;
}

.type_fire {
  background-color: #f42;
}

.type_water {
  background-color: #39f;
}

.type_eletric {
  background-color: #fc3;
}

.type_grass {
  background-color: #7c5;
}

.type_ice {
  background-color: #6cf;
}

.type_fighting {
  background-color: #b54;
}

.type_poison {
  background-color: #a59;
}

.type_ground {
  background-color: #db5;
}

.type_flying {
  background-color: #89f;
}

.type_psychic {
  background-color: #f59;
}

.type_bug {
  background-color: #ab2;
}

.type_rock {
  background-color: #ba6;
}

.type_ghost {
  background-color: #66b;
}

.type_dragon {
  background-color: #76e;
}

.type_dark {
  background-color: #754;
}

.type_steel {
  background-color: #aab;
}

.type_fairy {
  background-color: #e9e;
}

.info {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.info p {
  font-size: 1.2rem;
}

@media (max-width: 767px) {
  .title {
    width: 80%;
    margin-left: auto;
    margin-top: 2.5rem;
  }
  .img {
    margin-left: 5rem;
  }
  .DescriptionContainer {
    margin-left: 5rem;
  }
}
